<!-- <html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <%- include('_header');%>                      Remove the common part from the file and keep the variable part-->
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial/Profile Page

        </h1>
        <p><%= user.name%></p>
        <p><%= user.email%></p>
        <!-- <%- include('_footer');%>
    </body>             this is for the use for layouts 
</html> -->